body {
  font-family: 'Orbitron', sans-serif, "M PLUS Rounded 1c";
}



.wf-roundedmplus1c { font-family: "M PLUS Rounded 1c"; }


.anime {
  width: 200;
  height: 200;
}

#js-items > button.correct {
  transition: all 0.3s ease-in-out;
  background: #06d6a0;
}

#js-items > button.correct::after {
  content: '...正解！';
  color: #ffbe0b;
  font-size: 20px;
}

#js-items > button.wrong {
  transition: all 0.3s ease-in-out;
  background: #d6d6d6;
}

#js-items > button.wrong::after {
  content: '...ざんねん！';
  color: #8e9aaf;
}

#next-btn {
  background: #ffe066;
  color:#2f4550;
  border: 0 none;
  padding: 8px 14px;
  margin: 5px auto; 
  align-content: center;
  border-radius: 4px;
}


.footer {
  color: #bfc0c0;
}